* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
header a {
  color: white;
}
body {
  background-color: #e3f2c1;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  color: white;
}
.nav a {
  margin: 3rem;
  font-size: 1.8rem;
}
.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 80%;
  margin: 5rem auto;
}

.quesBox {
  margin-bottom: 2rem;
  border: 1px solid;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem;
  background-color: #fee8b0;
  transition: 0.4s all;
}
.quesBox:hover {
  transform: translate(0px, -1rem);
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  margin-left: 1rem;
}

.ques {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.postedby,
.date {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.ansOptions {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.upvotes,
.category {
  background-color: grey;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

.btnShowMore {
  display: flex;
  justify-content: right;
  align-items: center;
}

.ques-heading {
  margin: 1rem;
}
.ans-heading {
  margin-top: 3rem;
  margin-left: 1rem;
}
.com-heading {
  margin-top: 3rem;
  margin-left: 1rem;
}
.questionBox {
  background-color: gainsboro;
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
.user {
  display: flex;
  align-items: center;
}

.noOf {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.answers {
  margin-top: 1rem;
  background-color: rgb(196, 216, 212);
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.ansBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.writeAnswer {
  margin: 1rem 1rem 0 1rem;
}
.writeAnswer input,
.writeComment input {
  padding: 1rem;
  height: 3rem;
  width: 100%;
  border: 1px solid;
  border-radius: 2rem;
  margin-top: 0.5rem;
}
.comments {
  margin-top: 1rem;
  background-color: rgb(196, 216, 212);
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.commentBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.writeComment {
  margin: 1rem 1rem 0 1rem;
}

.label {
  margin: 1rem;
}

footer p,
footer .logo {
  margin: 0 1rem;
  font-size: 1.5rem;
}

/* error */
.error {
  /* position: absolute;
  top: 35%;
  left: 50%; */
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* max-width: 80rem; */
  margin: 10rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

/* account */
.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
  padding: 4rem 0;
}
.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}
.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor;
}
.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #fff !important;
}
.side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}
.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.form__upload + label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  );
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}
.account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
